<!-- <div  [ngStyle]="divStyle" style="width: 200px" (drag)="onDrag">
        <h3>{{name}} asdfads asdads asdfa sdfas dfasdfasdf asdf</h3>
        <h3>{{name}}</h3>
        <h3>{{name}}</h3>
        <h3>{{name}}</h3>
        <div class="title"> wel wel wel</div>
        <button (click)="slideToggle()">click to toggle</button>
</div> -->
<div [id]="data.memberId" class="ui-widget-content"  [ngStyle]="styleObj"  style="background-color:plum;"  > {{data.name}}</div>
<!-- <div id="Asif1984"  class="ui-widget-content"  [ngStyle]="styleObj"> {{data.name}}</div> -->

<!-- <div id="child1" (drag)="onDrag" class="ui-widget-content"  style="position: absolute; left: ; top: 150px; width: 100px; height: 100px; padding: 0.5em;"> Third </div>

<div id="child2" (drag)="onDrag" class="ui-widget-content"  style="position: absolute; left: 250px; top: 250px; width: 100px; height: 100px; padding: 0.5em;"> Second </div>

<div id="child3" (drag)="onDrag" class="ui-widget-content"  style="position: absolute; left: 350px; top: 350px; width: 100px; height: 100px; padding: 0.5em;"> First </div> -->




