<!--The content below is only a placeholder and can be replaced.-->



<!-- <div   *ngFor=" let user of [1,2,3,4,5]; " >
  {{user}}
<app-login ></app-login>
</div> -->


<button style="background-color: aquamarine" (click)="userDashboardToggle = !userDashboardToggle">FAMILY TREE</button> <br>
<div style="width: 2000px; height: 2000px; background-color: red" *ngIf="false"> 
  <div style="position: relative; width: 500px; height: 500px; left: 300px; background-color: antiquewhite;">
    <p>Qamar</p>
    <div class="row" style="position: relative;">
      <div style="border: 1px solid red;" class="column" style="position: relative;">
        <p>Shahzad</p>
        <div class="row" style="position: relative;">
        <div class="column" style="position: relative;"><p>Fayha</p></div>
        <div class="column" style="position: relative;"><p>Fauz</p></div>
        </div>
      </div>
      <div style="border: 1px solid  green; " class="column" style="position: relative;">
        <p>Shenu</p>
        <div class="row" style="position: relative;">

          <div style="border: 1px solid  green; " class="column" style="position: relative;">
            <p>Wafeeqah</p>
          </div>
          <div style="border: 1px solid  green; " class="column" style="position: relative;">
            <p>Wanya</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="true">
  <div id="userDashboard" *ngIf="userDashboardToggle">
    <div>
      <app-user-dashboard [familyData]="familyData" [indent]=20></app-user-dashboard>
    </div>
  </div>

  <div>
    <app-tree-view *ngIf="!userDashboardToggle"></app-tree-view>
  </div>

  <div *ngIf="false">

    <input #mytext name="imp-text" (keyup)="valChange($event, mytext, user)">
    <div *ngFor="let user of ['Japan','Russia','Croatia','Uganda'] as users; index as i; first as isFirst">
      {{mytext.value}} <span *ngIf="isFirst">default</span>

    </div>

    <output style="visibility: visible; font-size: 8em;">yaar yeah output hai</output> <br>
    <output aria-label="yeah bhi hai">yaar yeah output hai</output> <br>
    <button>click here</button> <br>
    <button [style.background-color]="mytext.value">{{mytext.value}}</button> <br>


    <app-sizer [(size)]="fontSizePx"></app-sizer>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>
  </div>

</div>